<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Flask-App</title>
    {% else %}
        <title>Flask-App</title>
    {% endif %}

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>
                Flask - App:
                <a href="{{ url_for('index') }}">Home</a>
                {% if g.user.is_authenticated() %}
                    | <a href="{{ url_for('user', nickname = g.user.nickname) }}">Ваш профиль</a>
                    | <a href="{{ url_for('logout') }}">Выйти</a>
                {% endif %}
            </h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>
                                <div class="alert alert-warning" role="alert"> {{ message }} </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}


        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
</div>
<script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>