<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TestFlaskApp">
    <meta name="author" content="Danila postRg">
    <link rel="shortcut icon" href="{{ url_for('static', filename='public/images/favicon.png') }}" type="image/png">
    {% if title %}
        <title>{{ title }} - Flask-App</title>
    {% else %}
        <title>Flask-App</title>
    {% endif %}

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='public/css/main.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Домой.</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if g.user.is_authenticated() %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('user', nickname = g.user.nickname) }}">Ваш профиль</a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">Выйти</a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>
                                <div class="alert alert-warning" role="alert"> {{ message }} </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block body %}{% endblock %}
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>